<div class="login-card">
  <h3>Admin Login</h3>
  <form (ngSubmit)="login()" class="login-form">
    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Enter your email"
        required
      />
    </div>

    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        name="password"
         [(ngModel)]="password"
        placeholder="Enter your password"
        required
      />
    </div>
    <div class="form-group">
      <label>Doctor-Id</label>
      <input
        type="number"
        name="id"
         [(ngModel)]="id"
        placeholder="Enter yor Id"
        required
      />
    </div>

    <button type="submit" class="btn-login">Login</button>

    <p class="error-msg" *ngIf="errormesg">{{ errormesg }}</p>
  </form>
</div>
