<div class="homepage-container">
  <h1>🏥 Admin Dashboard</h1>
  <p class="subtitle">Welcome! Please choose an option below:</p>

  <div class="card-container">
    <a routerLink="departments" class="card department-card">
      <img src="assets/department.png" alt="Department" />
      <h3>Manage Departments</h3>
    </a>

    <a routerLink="doctors" class="card doctor-card">
      <img src="assets/doctor.png" alt="Doctor" />
      <h3>Manage Doctors</h3>
    </a>

    <a routerLink="patients" class="card patient-card">
      <img src="assets/patient.png" alt="Patient" />
      <h3>Manage Patients</h3>
    </a>
    <a routerLink="appointment" class="card patient-card">
       <img src="assets/patient.png" alt="Appointment" />
      <h3>Appointment Manage</h3>
    </a>
  </div>
</div>
