<h2>Patient Dashboard</h2>

<table>
  <thead>
    <tr>
      <th>Patient id</th>
      <th>Patient Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Admitted Date</th>
      <th>Doctor Name</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients;let i=index">
      <td>{{patient.id}}</td>
      <td>{{ patient.patinetname }}</td>
      <td>{{ patient.age }}</td>
      <td>{{ patient.gender }}</td>
      <td>{{ patient.address }}</td>
      <td>{{ patient.phone }}</td>
      <td>{{ patient.admittedDate }}</td>
      <td>{{ patient.doctor.did }}</td>
      <td><button class="table-btn edit-btn" (click)="editForm(patient,i)">Edit</button></td>
      <td><button class="table-btn delete-btn" (click)="deletePatient(patient.id)">Delete</button></td>
    </tr>
  </tbody>
</table>


<div *ngIf="extingindex!==null">
<h2>Update Patient</h2>

<form [formGroup]="updatePatient" (ngSubmit)="updateForm()" class="custom-form">
  <label>Patient Name:</label>
  <input type="text" formControlName="patinetname" />

  <label>Age:</label>
  <input type="number" formControlName="age" />

  <label>Gender:</label>
  <select formControlName="gender">
    <option value="">Select Gender</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other">Other</option>
  </select>

  <label>Address:</label>
  <input type="text" formControlName="address" />

  <label>Phone:</label>
  <input type="number" formControlName="phone" />

  <label>Admitted Date:</label>
  <input type="date" formControlName="admittedDate" />

  <div formGroupName="doctor">
    <label>Assign Doctor:</label>
    <input type="number" formControlName="did" />
  </div>

  <button type="submit"  class="table-btn edit-btn">Update-btn</button>
  <button type="button" (click)="cancelUpdate()" class="table-btn delete-btn">Cancle-btn</button>
</form>
</div>